/* VARIABLES ////////////////////////////////////////////////////////////////*/
:root {
  --blue: #292C51;
  --dark: #242535;
  --gray: #BFBFBF;
  --white: #EAF2E6;

  --font: 'Hind Vadodara', sans-serif;
  --bigSize: 1.5em;
  --mediumSize: 1.3em;
  --smallSize: 1.1em;
}

/* PAGE CONFIGURATION ////////////////////////////////////////////////////////////////*/
html {
  scroll-behavior: smooth;
}

/*  ////////////////////////////////////////////////////////////////*/
body {
  font-family: var(--font);
  
  background-color: var(--dark);
  
  display: flex;
  justify-content: center;
}

/* UTILS CLASSES ////////////////////////////////////////////////////////////////*/
.title {
  font-size: 3em;
}

.section {
  width: 95vw;
  margin: 1vw;

  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}

/* SCROLLBAR STYLE ////////////////////////////////////////////////////////////////*/
::-webkit-scrollbar {
  width: 10px;
  display: block;
}

::-webkit-scrollbar-track {
  background: transparent; 
  margin-top: 15px;
  margin-bottom: 15px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--white); 
  border-radius: 25px;
  border-right: none;
  border-left: none;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray); 
}

/* NAVBAR STYLE ////////////////////////////////////////////////////////////////*/
nav {
  z-index: 1;
  position: fixed;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 15vh;

  background-color: var(--blue);
  box-shadow: 0px 15px 10px -15px black;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  width: 5vw;
}

.nav-links {
  margin: 1%;

  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  border: solid 3px var(--white);

  padding: 10px;
  margin: 0 10px 0 10px;

  min-width: 8vw;

  text-align: center;
}

.nav-item:link, .nav-item:visited {
  text-decoration: none;
  background: linear-gradient(to left, var(--white)50%, var(--blue)50%);
  background-size: 202% 100%;
  background-position: right-bottom;
  color: var(--white);
  font-size: var(--mediumSize);

  transition: ease background-position .5s, ease-out color .3s;
}

.nav-item:hover, .nav-item:active {
  background-position: right bottom;
  color: var(--blue);
}

/* HEADER STYLE ////////////////////////////////////////////////////////////////*/
header {
  height: 95vh;
  width: 95vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.particles {
 z-index: -1;
 height: 95vh;
 width: 95vw;
}

.outdoor {
  position: absolute;
  top: 30%;

  width: 40vw;
  padding: 1vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid 3px var(--white);
  color: var(--white);
}

.outdoor-link {
  text-decoration: none;
  font-size: var(--mediumSize);
  text-align: center;

  border: solid 3px var(--white);
  padding: 10px;

  transition: ease background-color .5s, ease-out color .3s;
}

.bg-blue {
  background-color: var(--blue)!important;
  color: var(--white)!important;
}
.bg-white {
  background-color: var(--white)!important;
  color: var(--blue)!important;
}

.header-links {
  margin: 1vw;
  width: 30%;

  display: flex;
  justify-content: space-around;
}

.header-link {
  color: var(--white);
  font-size: var(--bigSize);

  transition: ease color .2s;
}

.header-link:hover, .header-link:active {
  color: var(--blue);
}

/* "ABOUT" SECTION STYLE ////////////////////////////////////////////////////////////////*/
.about p{
  text-align: justify;
  line-height: 3;
  font-size: var(--smallSize);
}

.card-grid {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.card {
  border: solid 3px var(--white);
  border-radius: 10px;

  width: 15vw;
  height: 50vh;

  margin: 20px;
}


