/* VARIABLES ////////////////////////////////////////////////////////////////*/
:root {
  --blue: #292C51;
  --dark: #242535;
  --gray: #BFBFBF;
  --white: #EAF2E6;

  --font: 'Hind Vadodara', sans-serif;
  --bigSize: 1.5em;
  --mediumSize: 1.3em;
  --smallSize: 1.1em;
}

/* PAGE CONFIGURATION ////////////////////////////////////////////////////////////////*/
html {
  scroll-behavior: smooth;
}

/*  ////////////////////////////////////////////////////////////////*/
body {
  font-family: var(--font);
  
  background-color: var(--dark);
  
  display: flex;
  justify-content: center;

  font-size: 16px;
}

/* UTILS CLASSES ////////////////////////////////////////////////////////////////*/
.title {
  font-size: 3em;
}

.section {
  width: 95vw;
  margin: 1vw;

  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SCROLLBAR STYLE ////////////////////////////////////////////////////////////////*/
::-webkit-scrollbar {
  width: 10px;
  display: block;
}

::-webkit-scrollbar-track {
  background: transparent; 
  margin-top: 15px;
  margin-bottom: 15px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--white); 
  border-radius: 25px;
  border-right: none;
  border-left: none;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray); 
}

/* NAVBAR STYLE ////////////////////////////////////////////////////////////////*/
nav {
  z-index: 1;
  position: fixed;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 15%;

  background-color: var(--blue);
  box-shadow: 0px 15px 10px -15px black;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  width: 15%;
}

.nav-links {
  margin: 1%;

  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  border: solid 3px var(--white);

  padding: 1vw;
  margin: 0 10px 0 10px;

  min-width: 10%;

  text-align: center;
}

.nav-item:link, .nav-item:visited {
  text-decoration: none;
  background: linear-gradient(to left, var(--white)50%, var(--blue)50%);
  background-size: 202% 100%;
  background-position: right-bottom;
  color: var(--white);
  font-size: var(--mediumSize);

  transition: ease background-position .5s, ease-out color .3s;
}

.nav-item:hover, .nav-item:active {
  background-position: right bottom;
  color: var(--blue);
}

@media (max-width: 1080px) {
  .nav-img {
    width: 50px;
  }
  .nav-item {
    padding: 2vw;
  }
}
@media (max-width: 600px) {
  /* TODO: NavLink Collapse */
}

/* HEADER STYLE ////////////////////////////////////////////////////////////////*/
header {
  height: 95vh;
  width: 95vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.particles {
 z-index: -1;
 height: 95vh;
 width: 95vw;
}

.outdoor {
  position: absolute;
  top: 30%;

  width: 40vw;
  padding: 1vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid 3px var(--white);
  color: var(--white);
}

.outdoor h1 {
  text-align: center;
}

.outdoor-link {
  text-decoration: none;
  font-size: var(--mediumSize);
  text-align: center;

  border: solid 3px var(--white);
  padding: 10px;

  transition: ease background-color .5s, ease-out color .3s;
}

.bg-blue {
  background-color: var(--blue)!important;
  color: var(--white)!important;
}
.bg-white {
  background-color: var(--white)!important;
  color: var(--blue)!important;
}

.header-links {
  margin: 1vw;
  width: 30%;

  display: flex;
  justify-content: space-around;
}

.header-link {
  color: var(--white);
  font-size: var(--bigSize);

  transition: ease color .2s;
}

.header-link:hover, .header-link:active {
  color: var(--blue);
}

.arrow {
  font-size: 3vw;
  position: relative;
  bottom: 5%;
}

@media (max-width: 1080px) {
  .outdoor {
    padding: 2vw;
    width: 60vw;
  }
  .outdoor h1 {
    font-size: var(--bigSize);
  }
  .arrow {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .header-links {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .header-link {
    margin-bottom: 5px;
  }
}

/* "ABOUT" SECTION STYLE ////////////////////////////////////////////////////////////////*/
.about p{
  text-align: justify;
  line-height: 3;
  font-size: var(--smallSize);
}

.grid-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-2 img {
  width: 15vw;
}

.grid-2 p {
  width: 40vw;;
}

.about h1 {
  margin-top: 100px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 5vh 5vw 10vh 5vw;
}

.card {
  background-color: var(--white);
  color: var(--blue);

  border-top: 5px solid var(--blue);
  border-bottom: 5px solid var(--blue);
  border-radius: 5px;

  height: 50%;
  width: 10vw;
  margin: 30px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.card i{
  font-size: 4vw;
}

.card p {
  font-size: var(--smallSize);
}

.card:hover {
  background-color: var(--gray);
}

@media (max-width: 1080px) {
  .grid-2 {
    flex-direction: column;
    justify-content: center;
    
    text-align: justify;

    width: 100%;
  }

  .grid-2 img {
    width: 200px;
  }

  .grid-2 p {
    width: 80vw;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 80%;
    margin: 50px;
  }

  .card i {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

/* "Projects" SECTION STYLE ////////////////////////////////////////////////////////////////*/

/* "Contacts" SECTION STYLE ////////////////////////////////////////////////////////////////*/
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts ul {
  list-style: none;

  text-align: center;
}

.contacts ul li h2{
  border-bottom: 3px solid var(--white);
  font-size: var(--mediumSize);
}

.contacts a:link, .contacts a:visited{
  text-decoration: none;
  color: var(--white);
}

.contacts a:hover, .contacts a:active{
  text-decoration: none;
  color: var(--gray);
}

/* FOOTER STYLE ////////////////////////////////////////////////////////////////*/
footer {
  background-color: var(--blue);

  height: 15vh;
  width: 99vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  color: var(--white);
}

footer img {
  width: 40px;
}

